[submodule "base_graph"]
    path = _midynet/base_graph
    url = https://github.com/antoineallard/base_graph.git
    branch = main
[submodule "SamplableSet"]
	path = _midynet/SamplableSet
	url = https://github.com/gstonge/SamplableSet.git
[submodule "_midynet/pybind11"]
	path = _midynet/pybind11
	url = https://github.com/pybind/pybind11.git
