__pycache__/
*.egg-info/
tmp/
.ccls-cache/
build/
.cache/
cmake-build-debug
.idea

compile_commands.json

*.json
*.pdf
*.png
*.eggs
*.egg
*.so
fast-midynet.sublime-project
fast-midynet.sublime-workspace
dist/
*.coverage
*.tox

archive-*

*.ipynb_checkpoints
*.pkl
*.npy
*.DS_Store
*.env